  <%= form_for @design do |f| %>
  <div class="field">
    <%= f.fields_for :images do |image_f| %>
      <%= image_f.label :image, "Image" %><br>
      <%= image_f.file_field :image %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :mood_list, "Mood" %><br />
    <%= text_field_tag 'design[mood_list]', '' %>
    </div>

  <div class="field">
    <%= f.label :color_list, "Color" %><br />
    <%= text_field_tag 'design[color_list]', '' %>
    </div>

  <div class="field">
    <%= f.label :roomtype_list, "Room Type" %><br />
    <%= text_field_tag 'design[roomtype_list]', '' %>
    </div>

  <div class="field">
    <%= f.label :text, "Details" %><br>
    <%= f.text_field :text %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <% end %>