  <%= form_for @design do |f| %>
  <div class="form_fields">
    <div class="field">
    <%= f.fields_for :images do |image_f| %>
      <%= image_f.label :image, "Image" %>
      <%= image_f.file_field :image %>
    <% end %>
    </div>
    <% if flag %>
      <div class="js-preview preview">
        <img src="<%= @design.images.first.image.url(:large) %>" alt="Image Preview">
      </div>
    <% else %>
      <div class="js-preview">
      </div>
    <% end %>

    <div class="field">
      <%= f.label :mood_list, "Mood" %>
      <%= text_field_tag 'design[mood_list]', @design.mood_list, placeholder: "natural, modern, japanese" %>
    </div>

    <div class="field">
      <%= f.label :color_list, "Colors" %>
      <%= text_field_tag 'design[color_list]', @design.color_list, placeholder: "blue, beige, gold" %>
    </div>

    <div class="field">
      <%= f.label :item_list, "Key Items" %>
      <%= text_field_tag 'design[item_list]', @design.item_list, placeholder: "sofa, bed, shelf" %>
    </div>

    <div class="field">
      <%= f.label :text, "Details" %>
      <%= f.text_area :text, rows: "10", placeholder: "Instead of hanging a painting on a bare wall, accent it with a rich, velvet curtain background..." %>
    </div>

  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= f.submit "Post" %>
  </div>

  <% end %>