<%= form_for @design do |f| %>
  <div class="form_fields">
    <div class="field">
    <%= f.fields_for :images do |image_f| %>
      <%= image_f.label :image, "Image" %>
      <%= image_f.file_field :image %>
    <% end %>
    </div>
    <% if flag %>
      <div class="js-preview preview">
        <img src="<%= @design.images.first.image.url(:large) %>" alt="Image Preview">
      </div>
    <% else %>
      <div class="js-preview">
      </div>
    <% end %>

    <div class="field">
      <%= f.label :style_list, "Styles" %>
      <%= text_field_tag 'design[style_list]', @design.style_list, placeholder: "natural, modernなどスタイル" %>
    </div>

    <div class="field">
      <%= f.label :color_list, "Colors" %>
      <%= text_field_tag 'design[color_list]', @design.color_list, placeholder: "blue, beigeなどベース・アクセントカラー" %>
    </div>

    <div class="field">
      <%= f.label :item_list, "Key Items" %>
      <%= text_field_tag 'design[item_list]', @design.item_list, placeholder: "sofa, bedなどキーアイテム" %>
    </div>

    <div class="field">
      <%= f.label :text, "Design Tips" %>
      <%= f.text_area :text, rows: "10", placeholder: "レイアウトやカラーコーディネートなどデザインのこだわりポイント（例：背の低い家具で揃えることで空間を広く見せることができ、天井高を活用した照明やポスターのコーディネートができます。）" %>
    </div>

  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= f.submit "Post" %>
  </div>

      <% end %>