<div class="contents clearfix">
  <div class="wrapper" style="background-image: url(https://static.pexels.com/photos/279607/pexels-photo-279607.jpeg);">
  <h2>Find colors for your life</h2w>
  </div>

  <div class="homecontents_1">
  <% @designs.each do |design| %>
    <div class="content_post">
    <a href="designs/<%= design.id %>">
    <img src="<%= design.images.first.image %>" alt="design">
    </a>
    <div class="tags">
      <ul>
          <li><%= render 'designs/tag_list', tag_list: design.mood_list %></li>
          <li><%= render 'designs/tag_list', tag_list: design.color_list %></li>
          <li><%= render 'designs/tag_list', tag_list: design.roomtype_list %></li>
      </ul>
    </div>
    <span class="username">
      <span>By  <%= design.user.nickname %></span>
    </span>
    <span class="favorite"><%= link_to "Like", add_design_path(design), method: :post %></span>
      <div class="divider"></div>
  </div>
  <% end %>
</div>