<div class="contents clearfix">
  <div class="wrapper" style="background-image: url(https://static.pexels.com/photos/279607/pexels-photo-279607.jpeg);">
  <h2>Find colors for your life</h2w>
  </div>

  <div class="homecontents_1">
  <% @designs.each do |design| %>
    <div class="content_post">
    <a href="/designs/<%= design.id %>">
    <%= image_tag design.images.first.image.url(:large) %>
    </a>
    <div class="tags clearfix">
      <ul>
          <li><%= render 'designs/tag_list', tag_list: design.mood_list %></li>
          <li><%= render 'designs/tag_list', tag_list: design.color_list %></li>
          <li><%= render 'designs/tag_list', tag_list: design.item_list %></li>
      </ul>
    </div>

      <span class="username clearfix">
      <span>By  <%= design.user.nickname %></span>
    </span>

  <div class="more">
      <ul class="more_list clearfix">
        <% if user_signed_in? && design.user.id != current_user.id %>
          <% if Favorite.where("user_id = ? and design_id = ?", current_user.id, design.id).exists? == false %>
            <li><span><%= fa_icon "plus-square-o" %></span>
              <%= link_to 'Add to Favorites', add_design_path(design), method: :post %>
              </li>
        <% end %>
        <% if Favorite.where("user_id = ? and design_id = ?", current_user.id, design.id).exists? == true %>
            <li><span><%= fa_icon "minus-square-o" %></span>
              <%= link_to 'Remove from Favorites', favorite_path(design), method: :delete %>
              </li>
        <% end %>
        <% end %>
    <% if user_signed_in? && design.user.id == current_user.id %>
            <li><span><%= fa_icon "pencil" %></span>
              <%= link_to 'Edit', "/designs/#{design.id}/edit", method: :get %>
            </li>
            <li><span><%= fa_icon "trash" %></span>
              <%= link_to 'Delete', "/designs/#{design.id}", method: :delete %>
            </li>
    <% end %>
            <li id="pin">
            <a data-pin-do="buttonPin" data-pin-tall="true" data-pin-lang="en" data-pin-save="true" href="https://www.pinterest.com/pin/create/button/?url=<%= design.images.first.image.url(:large) %>&media=&description=homedecor"></a>
            </li>
      </ul>
  </div>


  </div>
  <% end %>
</div>