<div class="contents clearfix">
  <div class="wrapper" style="background-image: url(https://static.pexels.com/photos/279607/pexels-photo-279607.jpeg);">
  <h2>Find colors for your life</h2w>
  </div>

  <div class="homecontents_1">
  <% @designs.each do |design| %>
    <div class="content_post">
    <a href="designs/<%= design.id %>">
    <%= image_tag design.images.first.image(:large) %>
    </a>
    <div class="tags">
      <ul>
          <li><%= render 'designs/tag_list', tag_list: design.mood_list %></li>
          <li><%= render 'designs/tag_list', tag_list: design.color_list %></li>
          <li><%= render 'designs/tag_list', tag_list: design.roomtype_list %></li>
      </ul>
    </div>

    <span class="favorite">
    <% if user_signed_in? %>
    <span><%= fa_icon "plus-square-o" %></span>
      <%= link_to 'Add to favorites', add_design_path(design), method: :post %>
    <% end %>
      </span>
      <span class="username clearfix">
      <span>By  <%= design.user.nickname %></span>
    </span>

  </div>
  <% end %>
</div>