<div class="contents">
  <h2>Design Search</h2>
  <div class="container">
      <%= form_tag('/desings/search', method: :get) do %>
      <input class="search_query" name="keyword" placeholder="Keyword Search" type="text" value=""><button class="btn-search" title="Search" type="submit"></button></input>
      <% end %>
      <form accept-charset="utf-8" action="/" class="js-search-submit" method="get">
      </form>
  </div>

      <div class="divider"></div>

  <div class="container">
    <header class="header-section">
      <h2>Seearch Result</h2>
    </header>
    <ul class="designlist">
      <% @designs.each do |design| %>
      <div class="content_post">
      <a href="designs/<%= design.id %>">
        <img src="<%= design.images.first.image %>" alt="design">
      </a>
      <div class="tags">
        <ul>
            <li><%= render 'designs/tag_list', tag_list: design.mood_list %></li>
            <li><%= render 'designs/tag_list', tag_list: design.color_list %></li>
            <li><%= render 'designs/tag_list', tag_list: design.roomtype_list %></li>
      </ul>
    </div>
    <span class="username">
      <span>By  <%= design.user.nickname %></span>
    </span>
      <div class="divider"></div>
  </div>
  <% end %>
    </ul>
    </div>
</div>