<div class="contents clearfix">
   <div class="content_post">
    <%= image_tag @design.images.first.image(:large) %>
    <div class="tags clearfix">
      <ul>
          <li><%= render 'designs/tag_list', tag_list: @design.mood_list %></li>
          <li><%= render 'designs/tag_list', tag_list: @design.color_list %></li>
          <li><%= render 'designs/tag_list', tag_list: @design.roomtype_list %></li>
      </ul>
    </div>

  <div class="content_info">
    <span class="favorite clearfix">
    <% if user_signed_in? %>
    <span><%= fa_icon "plus-square-o" %></span>
      <%= link_to 'Add to favorites', add_design_path(@design), method: :post %>
    <% end %>
      </span>

    <span class="username clearfix">
      <span>By <%= @design.user.nickname %></span>
    </span>

  </div>


    <div class="details">
      <p><%= @design.text %></span>
    </div>

  </div>
</div>