<div class="contents">
<div class="container form" style="background-image: url(http://cdn.home-designing.com/wp-content/uploads/2016/02/quirky-scandinavian-design-ideas.jpg); background-size: cover;">
  <div class="outer_form" style="background: rgba(250,250,250,0.7);">
  <div class="inner_form" style="background: rgba(250,250,250,0.5);">
<h2>Sign up</h2>

<div class="form_fields">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :Name%><em> (10 characters maximum)</em>
    <%= f.text_field :nickname, autofocus: true, maxlangth: "30" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

</div>

  <div class="more_link_box">
  <p>Already on OneRoom?</p>
  <%= render "devise/shared/links" %>
  </div>
<% end %>

</div>
</div>
</div>
</div>
