<% provide :title, " | #{@user.nickname} マイページ" %>
<div class="contents">
  <div class="container form">
    <div class="outer_form">
      <div class="inner_form favorites">
        <h2>Favorite Designs</h2>
        <h6><%= @user.nickname %>さんお気に入りデザイン</h6>
        </div>
      </div>
      </div>
    <div class="content_list clearfix">
          <% @user.designs.each do |design| %>
            <div class="thumbnail">
            <a href="/designs/<%= design.id %>">
            <%= image_tag design.images.first.image(:large) %></a>
    <span class="username">
      <span>By  <%= design.user.nickname %></span>
    </span>
      </div>
      <% end %>
      </div>
    </div>

<div class="divider"></div>

  <div class="container form">
    <div class="outer_form">
      <div class="inner_form my_designs">
        <h2>My Designs</h2>
        <h6><%= @user.nickname %>さんのオリジナルデザイン</h6>
        </div>
      </div>
      </div>


    <div class="content_list clearfix">
          <% @design.each do |design| %>
            <div class="thumbnail">
              <a href="/designs/<%= design.id %>">
              <%= image_tag design.images.first.image(:large)%></a>
          </div>
          <% end %>
      </div>
    </div>

</div>
</div>