<div class="contents">
  <div class="container">

    <div class="content_list clearfix">
      <div class="favorites">
        <h2>Favorite Designs</h2>
          <% @user.designs.each do |design| %>
            <div class="thumbnail">
            <a href="/designs/<%= design.id %>">
            <img src="<%= design.images.first.image %>" alt="design"></a>
    <span class="username">
      <span>By  <%= design.user.nickname %></span>
    </span>
      </div>
      <% end %>
      </div>
    </div>

<div class="divider"></div>

    <div class="content_list">
      <div class="my_designs clearfix">
        <h2>My Designs</h2>
          <% @design.each do |design| %>
            <div class="thumbnail">
            <a href="/designs/<%= design.id %>">
            <img src="<%= design.images.first.image %>" alt="design"></a>
            <div class="more">
              <ul class="more_list">
                <li><span><%= fa_icon "pencil" %></span>
                  <%= link_to 'Edit', "/designs/#{design.id}/edit", method: :get %>
                </li>
                <li><span><%= fa_icon "trash" %></span>
                  <%= link_to 'Delete', "/designs/#{design.id}", method: :delete %>
                </li>
              </ul>
            </div>
          </div>
          <% end %>
      </div>
    </div>

</div>
</div>