<!DOCTYPE html>
<html>
  <head>
  <title>OneRoom<%= yield :title %></title>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
     <div class="heading">
      <h1 class="title"><a href="/">OneRoom</a></h1>
      <div class="search">
      </div>
        <div class="user_nav">
        <% if user_signed_in? %>
        <div class="logged_in">
          <a><%= fa_icon "sign-out" %><%= link_to 'ログアウト', "/users/sign_out", method: :delete %></a>
        </div>
        <% else %>
          <div class="not_logged_in">
          <a class="Sign In" href="/users/sign_in"><%= fa_icon "sign-in", text: "ログイン" %></a>
          <a class="Signup" href="/users/sign_up"><%= fa_icon "user-plus", text: "登録" %></a>
          </div>
        <% end %>
        </div>
      </div>

      <div class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/designs/new">Share</a></li>
          <li><a href="/designs/search">Search</a></li>
          <li><a href="/designs/browse">Browse</a></li>
          <li><a href="/users/mypage">My Page</a></li>
        </ul>
      </div>
    </header>

    <div class="content">
      <%= yield %>
    </div>

    <footer>
      <p>Copyright(C) OneRoom ALL RIGHTS RESERVED.</p>
    </footer>
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
  </body>

</html>